SOA_SERVICE_URL: http://localhost:8051

server:
  port: 8007

springdoc:
  enable-spring-security: false

laa:
  ccms:
    soa-gateway:
      username: soa-user
      password: soa-password
      contract-details:
        service-port: 7777
        service-url: http://localhost:${laa.ccms.soa-gateway.contract-details.service-port}/mockGetContractDetailsSOAPBinding
    springboot:
      starter:
        auth:
          authentication-header: "Authorization"
          authorized-clients: '[
              {
                  "name": "caab-ui",
                  "roles": [
                      "ALL"
                  ],
                  "token": "94549740-5aaa-4cd9-b9d9-666159d268a9"
              }
          ]'
          authorized-roles: '[
              {
                  "name": "ALL",
                  "URIs": [
                      "/**"
                  ]
              }
          ]'
          unprotected-uris: [ "/actuator/**", "/swagger-ui.html", "/swagger-ui/**", "/v3/api-docs/**", "/favicon.ico", "/open-api-specification.yml" ]

# Log SOAP requests
#logging:
#  level:
#    org:
#      springframework:
#        web: DEBUG
#        ws:
#          client:
#            MessageTracing:
#              sent: DEBUG
#              received: TRACE
#          server:
#            MessageTracing:
#              sent: DEBUG
#              received: TRACE
