springdoc:
  enable-spring-security: false

laa:
  ccms:
    soa-gateway:
      contract-details:
        service-port: 7777
        service-url: http://localhost:${laa.ccms.soa-gateway.contract-details.service-port}/mockGetContractDetailsSOAPBinding
